<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <h3>Logo</h3>
        <nav>
            <ul>
                <li><a asp-action="Index" asp-controller="Home">Home</a></li>
                <li><a asp-action="Game" asp-controller="Game">Game</a></li>
                <li><a asp-action="TestForFever" asp-controller="Doctor">Doctor</a></li>
                <li><a asp-action="Contact" asp-controller="Home">Contact</a></li>
            </ul>
        </nav>
    </header>

   
    <div>
        @RenderBody()
    </div>

    <footer>
        <span>&copy; Susanne Cederholm
            @DateTime.Now.ToShortDateString()
        </span>
    </footer>

</body>
</html>
