@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac massa sed eros vehicula dapibus.
    Cras tellus odio, mattis a sem eget, fermentum tempus magna. Duis ex lectus, pretium at orci quis, 
    tempus auctor neque. Phasellus diam nisl, tincidunt vel diam eget, placerat blandit justo. Aenean 
    sit amet suscipit nulla. Nam dictum mollis massa eget mattis.
</p>
<p>Morbi ligula nibh, tincidunt eget 
    lacus vitae, scelerisque vulputate massa. Vivamus at mattis purus. Ut et hendrerit quam, vel commodo 
    ligula. Suspendisse metus libero, convallis at quam quis, fringilla consectetur neque. Maecenas neque elit, 
    commodo vitae aliquet ac, imperdiet euismod mauris. Praesent egestas urna nec arcu tempus, 
    at mattis nulla dignissim. Nulla ultrices accumsan enim, id imperdiet mauris.
</p>